*.exe
*.o
*.d
*.out
*.pyc
.vscode/*
sav1play
sav1slideshow
dependencies/*
!dependencies/libwebm
!dependencies/thread
!dependencies/libyuv
!dependencies/macbuild
!dependencies/licenses
vcpkg/
*.dll
*.dll.a
test_files/_*
*.DS_Store
*.dylib
docs/latex
docs/html
_bundle
subprojects/*
!subprojects/download.sh
!subprojects/deps.sha512
