*.exe
*.o
*.d
*.out
*.pyc
.vscode/*
sav1play
dependencies/*
!dependencies/libwebm
!dependencies/thread
!dependencies/libyuv
vcpkg/
*.dll
*.dll.a
test_files/_*
*.DS_Store
*.dylib
docs/latex
docs/html
_bundle
