*.exe
*.o
*.d
*.out
*.pyc
.vscode/*
test_files/accounting.webm
test_files/popeye.webm
test_files/grey.webm
test_files/grey.xml
test_files/5minutes.webm
test_files/stereo.webm
dav3dplay
dependencies/*
!dependencies/libwebm
!dependencies/thread
!dependencies/libyuv
vcpkg/
SDL2.dll
dav1d.dll
opus.dll
